<link rel="stylesheet" href="../static/css/chat.css">
<div class="chat-container">    
    <div class="chat-header">
        <img src="../static/image/shark.png" class="logo">
        <span class="name">Shark 2.0-Flash</span>
        <i class='bx bx-right-arrow-alt'></i>
    </div>
    <div class="chat-messages">
        {% for message in chat_messages %}
            <div class="chat-message user-message">
                {% if message.user_message %}
                    {{ message.user_message }}
                {% endif %}
            </div>
            <div class="chat-message bot-message">
                {% if message.bot_response %}
                    {{ message.bot_response }}
                {% endif %}
            </div>  



        {% endfor %}
    
    </div>

    <input type="hidden" id="message_id" value="{{ message_id }}">

    <div class="chat-input">
        <input type="text" placeholder="Type a message..." />
        <button>Send</button>
    </div>

</div>
<script src="../static/js/chat.js"></script>  
