<section class="hero">
    <div class="buttons">
        <a href="/question"><i class='bx bx-question-mark'></i>Câu Hỏi</a>
    </div> 
    <div class="content">
        <h1>Học tập và trở nên giỏi hơn ở trường</h1>
        <p>Tham gia một ngôi trường trực tuyến chuyên nghiệp, xã hội, hấp dẫn và tương tác. Nhận trải nghiệm học tập mà bạn xứng đáng.</p>
        <div class="cta-buttons">
            <a href="/review" class="btn-secondary">Rì Viu Code</a>
        </div>
    </div>
</section>
<section class="tutorial">
    <div class="title">
        <h2>Hướng Dẫn</h2><i class='bx bxs-hourglass-top'></i>
    </div>

    <div class="list-item justify-center">
        <li class="item">
            <img src="../static/image/c.jpg" alt="C++">
            <div class="info">
                <h4>Học C++</h4>
                <a href="/tutorial/cpp/index" class="button">Xem</a>
            </div>
        </li>
        <li class="item">
            <img src="../static/image/python.jpg" alt="Python">
            <div class="info">
                <h4>Học Python</h4>
                <a href="/tutorial/python/index" class="button">Xem</a>
            </div>
        </li>
        <li class="item">
            <img src="../static/image/flask.png" alt="Flask">
            <div class="info">
                <h4>Học Flask</h4>
                <a href="/tutorial/flask/index" class="button">Xem</a>
            </div>
        </li>
        <li class="item">
            <img src="../static/image/numpy.avif" alt="NumPy">
            <div class="info">
                <h4>Học NumPy</h4>
                <a href="/tutorial/numpy/index" class="button">Xem</a>
            </div>
        </li>
        <li class="item">
            <img src="../static/image/django.jpg" alt="Django">
            <div class="info">
                <h4>Học Django</h4>
                <a href="/tutorial/django/index" class="button">Xem</a>
            </div>
        </li>
    </div>
    <button class="show-more">Thêm<i class='bx bx-chevrons-down' ></i></button>
    <script src="../static/js/showmore.js"></script>
</section>