<section class="hero">
    <div class="buttons">
        <a href="/question"><i class='bx bx-question-mark'></i>Question</a>
        <a href="/tutorial"><i class='bx bx-book-open'></i>Tutorial</a>
        <a href="/chat"><i class='bx bxs-message-square-dots'></i>Chat with our Bot</a>
        <a href="/llms"><i class='bx bx-folder' ></i>LLMs Resources</a>
    </div> 
    <div class="content">
        <h1>Learn and become better at your school</h1>
        <p>Participate in a fully professional, social, engaging and interactive online school. Get the learning experience you deserve.</p>
        <div class="cta-buttons">
            <a href="/review" class="btn-secondary">Review Code</a>
        </div>
    </div>
</section>
<section class="tutorial">
    <div class="title">
        <h2>Tutorial</h2><i class='bx bxs-hourglass-top'></i>
    </div>

    <div class="list-item justify-center">
        <li class="item">
            <img src="../static/image/c.jpg" alt="C++">
            <div class="info">
                <h4>Learn C++</h4>
                <a href="/tutorial/cpp/index" class="button">Enroll</a>
            </div>
        </li>
        <li class="item">
            <img src="../static/image/python.jpg" alt="Python">
            <div class="info">
                <h4>Learn Python</h4>
                <a href="/tutorial/python/index" class="button">Enroll</a>
            </div>
        </li>
        <li class="item">
            <img src="../static/image/flask.png" alt="Flask">
            <div class="info">
                <h4>Learn Flask</h4>
                <a href="/tutorial/flask/index" class="button">Enroll</a>
            </div>
        </li>
        <li class="item">
            <img src="../static/image/numpy.avif" alt="NumPy">
            <div class="info">
                <h4>Learn NumPy</h4>
                <a href="/tutorial/numpy/index" class="button">Enroll</a>
            </div>
        </li>
        <li class="item">
            <img src="../static/image/django.jpg" alt="Django">
            <div class="info">
                <h4>Learn Django</h4>
                <a href="/tutorial/django/index" class="button">Enroll</a>
            </div>
        </li>
    </div>
    <button class="show-more">Show More<i class='bx bx-chevrons-down' ></i></button>
    <script src="../static/js/showmore.js"></script>
</section>