<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">  
        <link href="https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>ComScihub</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <header>
            <span class="logo">DEEPSHARK</span>
            <div class="auth-buttons">
                <a class="contact" href="#">Contact us</a>
                <a class="sign-in" href="#">Sign in</a>
                <a class="sign-up" href="#">Sign up</a>
            </div>
        </header>
        <main>
            <section class="hero">
                <div class="buttons">
                    <a><i class='bx bx-question-mark'></i>Question</a>
                    <a><i class='bx bx-book-open'></i>Tutorial</a>
                    <a><i class='bx bxs-message-square-dots'></i>Chat with our Bot</a>
                    <a><i class='bx bx-folder' ></i>LLMs Resources</a>
                </div> 
                <div class="content">
                    <h1>Learn and become better at your school</h1>
                    <p>Participate in a fully professional, social, engaging and interactive online school. Get the learning experience you deserve.</p>
                    <div class="cta-buttons">
                        <a href="#" class="btn-primary">Start now</a>
                        <a href="#" class="btn-secondary">View course</a>
                    </div>
                </div>
            </section>
        </main>
    </body>
    </html>