<section class="container">
    <h2 class="title-course">Welcome to LLM Resources Hub</h2>
    <h4 class="sub-title">Your one-stop destination for all the resources you need to excel in your <br> LLM program.</h4>
    <div class="search-bar">
        <input type="text" placeholder="Search courses..." />
        <i class='bx bx-search-alt'></i>
    </div>
    <div class="list-object">
        <div class="object">
            <h4 class="title">Đề nghị giữ thẻ này</h4>
            <p class="description">đổi thẻ này sẽ bị cắt cu</p>
            <div class="list-course">
                <a class="course">
                    <span>1</span>
                    <img src="https://www.google.com/s2/favicons?domain=www.youtube.com&sz=32" alt="err" />
                    <p>Khóa học làm người của Diddy</p>
                </a>
                <a class="course">
                    <span>1</span>
                    <img src="https://www.google.com/s2/favicons?domain=www.youtube.com&sz=32" alt="err" />
                    <p>Khóa học làm người của Diddy</p>
                </a>
                <a class="course">
                    <span>1</span>
                    <img src="https://www.google.com/s2/favicons?domain=www.youtube.com&sz=32" alt="err" />
                    <p>Khóa học làm người của Diddy</p>
                </a>
                <a class="course">
                    <span>1</span>
                    <img src="https://www.google.com/s2/favicons?domain=www.youtube.com&sz=32" alt="err" />
                    <p>Khóa học làm người của Diddy</p>
                </a>
                <a class="course">
                    <span>1</span>
                    <img src="https://www.google.com/s2/favicons?domain=www.youtube.com&sz=32" alt="err" />
                    <p>Khóa học làm người của Diddy</p>
                </a>
            </div>
            <button class="btn-more">View All</button>
        </div>
    </div>
</section>
