<section class="container-llm">
    <h2>Code Review Tool</h2>
    <form method="POST" action="/api/ai_models/review-code" onsubmit="showLoading()" enctype="multipart/form-data">
        <div class="content">
            <div class="input">
                <input type="file" id="fileInput" name="fileInput" accept=".txt,.py,.js,.html,.css,.java" />
                <div class="code-space">
                    <textarea id="codeInput" name="code" placeholder="Nhập code tại đây...">{{code_input }}</textarea>
                </div>
            </div>
            <div class="output">
                <h3>Result Review</h3>
                <div id="reviewOutput">{%- if review_result -%}{{ review_result | safe }}{%- else -%}Kết quả review sẽ hiển thị ở đây...{%- endif -%}</div>            
            </div>
        </div>
        <button type="submit" class="review-button">Review Code</button>
    </form>
</section>

<script>
    document.getElementById('fileInput').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('codeInput').value = e.target.result;
            };
            reader.readAsText(file);
        }
    });
</script>



