body {
    flex-direction: row;
}

header {
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 15px;
    /* transition: 0.5s linear; */
}


code {
    background-color: #2d2b2b;  /* Nền tối cho đoạn mã */
    color: #e3e0e1;  /* Chữ sáng */
    border-radius: 3px;           
    font-family: "Courier New", monospace;  /* Phông chữ monospace */
    display: inline-block;
    overflow-wrap: break-word;
    font-size: 14px;
}

pre code.hljs {
    background-color: #2b2929;         
    color: #e4e4d6;                  
    padding: 15px;                  
    border-radius: 15px;           
    font-family: "Courier New", monospace;  
    overflow: auto;                  
}
.hljs-title {
    color: #fdd663; 
    
}

.profile {
    display: none;
}

.hljs-title.function {
    color: #e5e7eb; 
    
}


.hljs-comment {
    color: #81c995;  
}

.hljs-built_in{
    color: #f8f8f2;  
}


.hljs-keyword{
    color: #c58af9;  

}

.hljs-number{
    color: #fa903e;  
}

.hljs {
    font-weight: 700; 
}

.hljs-string{
    color: #81c995;  
}

.hljs-variable.language_{
    color: #8ab4f8
}

.hljs-type{
    color: #c58af9;  

}

.hljs-deletion{
    color: #E9A5F1;  
}


table {
    width: 100%;
    border-collapse: collapse;  /* Gộp viền */
    margin: 20px 0;
    padding: 10px;

}

th, td {
    border: 2px solid #000000;  /* Đặt viền cho các ô */
    text-align: justify;
    padding: 5px;
}


table, th, td {
    border: 1px solid #000000;  /* Đảm bảo bảng và các ô có viền */

}


ul {
    list-style-type: disc;  /* Đặt dấu đầu dòng là chấm tròn đen */
    margin: 0;               /* Loại bỏ margin mặc định */
}

ul li {
    position: relative;
}

ul li ul {
    list-style-type: circle; 
    margin-top: 5px;
}

ul li ul li {
    font-size: 14px;  
}




.header-logo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.toggle {
    display: flex;
    justify-content: flex-end;}

.toggle i {
    display: flex;
    font-size: calc(1vw + 16px);
    cursor: pointer;
    color: #000;
}


.history-item {
    width: 270px;  
    height: 60px;
    white-space: nowrap;
    display: block; 
    text-overflow: ellipsis; 
}

.for-chat {
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 256px;  
    height: 60%;
    max-height: 400px;
    overflow-y: scroll; 
    overflow-x: hidden; 
}

.for-chat h4 {
    color: #000;
    align-self: flex-start;
    padding: 5px;
    font-size: calc(1vw + 5px);
    border-bottom: 1px solid #ddd;
}

.contact {
    display: none;
}

.for-chat a {
    color: #2A3335;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
}

footer {
    opacity: 0;
    display: none;
}

.chat-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    flex: 1;
    margin: 0 auto;
    border: 1px solid #ddd;
    overflow: hidden;
}

body {
    overflow: hidden;
}


.chat-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    padding: 15px;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid #ddd;
}

.chat-header .logo {
    display: flex;
    width: calc(1vw + 50px);
    height: auto;
    border-radius: 10px;
}

.chat-header i {
    display: none;
}

.chat-header .name {
    display: flex;
    background: linear-gradient(45deg, #2A3335, #5d6dea);
    -webkit-background-clip: text;
    background-clip: text;  
    font-optical-sizing: auto;
    -webkit-text-fill-color: transparent;
    font-size: calc(1vw + 10px);
}

.chat-messages {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    overflow-y: auto;
    max-height: 80vh;
    height: 80vh;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: thin;
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;

}

.chat-message.bot-message {
    background-color: #e2e2e2;
    align-self: flex-start;
    width: 66vw; /* Cố định chiều rộng */
    max-width: 100%; /* Đảm bảo phần tử không vượt quá kích thước của container */
    overflow-wrap: break-word; /* Ngắt từ khi gặp từ quá dài */
    word-wrap: break-word; /* Ngắt từ dài và không vừa với chiều rộng */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
}

.chat-message.bot-message h1,
.chat-message.bot-message h2 {
    font-size: 1.5rem;
    color: #333;
}

.chat-message.bot-message ul {
    margin-left: 20px;
    padding-left: 10px;
}

.chat-message.bot-message li {
    margin-bottom: 5px;
}

.chat-message.bot-message strong {
    font-weight: bold;
}


.user-message {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}
.bot-message {
    background-color: #e2e2e2;
    align-self: flex-start;
    /* white-space: pre-line; */


}
.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f4f4f9;
    margin-bottom: 0;
    height: 10vh;
}
.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
}
.chat-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.new-chat {
    position: absolute;  

    display: flex;
    padding: 10px;
    color: #000;
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.new-chat-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #297cd4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.new-chat-btn:hover {
    background-color: #297cd4;
}



@media (max-width: 768px) {

    header {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #ffffffcd;
        display: flex;
        z-index: 9999;

    }

    .chat-header {
        justify-content: space-between;
    }

    .chat-messages {
        max-height: auto;
    }

    .toggle {
        display: none;
    }

    .toggle-for-ip {
        display: flex;
        font-size: 30px;
        color: #000;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 5px;
    }

    .toggle-for-ip:hover {
        background-color: #ddd;
    }

    .chat-header i {
        display: flex;
        font-size: 30px;
        color: #000;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 5px;
    }
    
}   
